<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupware Gossip</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <!-- Navigator Bar -->
    <nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-4">
                        <a class="nav-link active" aria-current="page" href="/"><h2 class="display-3">Home</h2></a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="/dashboard"><h2 class="display-3">Dashboard</h2></a>
                    </li>
                    <div class="vr"></div>
                    <li class="nav-item px-4">
                        {{#if loggedIn}}
                        <button id="logout" class="nav-link"><h2 class="display-3">Logout</h2></button>
                        {{else}}
                        <a class="nav-link" href="/login"><h2 class="display-3">Login</h2></a>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </header>

  <!-- Main body and aside of the page -->
  <main>
    <div class="text-center">
        <div class="row align-items-start">
            <div class="col-3">
                <aside class="p-3 mb-2 bg-primary-subtle text-emphasis-primary" style="height: max-content;">
                    <h3>Enjoy the Blog!</h3>
                </aside>
            </div>

                <!-- Main body -->
            <div class="col-9">
                <div class="blog p-3 mb-2 bg-light text-dark">
                {{{body}}}
                </div>
            </div>
        </div>
    </div>
  </main>
  
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>